.slds-truncate{
    display:flex;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 25px ;
}
.usd {
        display:flex;
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 25px;
        position: absolute;
        left: 1.5rem;
        top: 0.9rem;
}
.slds-form-element{
    margin-right: 25px;
}

th{
    display: flex;
}

td{
    width: 40%;
}

.rate-p-hour{
    width:15% ;
}

.button-margin{
    margin: 15px;
}